* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-grey: #565956;
  --border-color: #ececec;
  --primary-bg: #f1f2f1;
  --white: #ffffff;
  --icon-theme: #055065;
  --red-30: #f36c4f;
  --hoovered-btn: #3e3c3c;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  background-color: var(--primary-bg);
  color: #333;
}
