<footer class="footer">
  <span>Ⓒ2025 YOUR LIBRARY</span>
  <div class="footer__main">
    <div class="footer__logo">
      <img src="assets/images/header_logo.png" alt="Library Logo" />
    </div>
    <div class="footer__lang">
      <button mat-button class="footer__lang-btn">EN</button>
      <button mat-button class="footer__lang-btn">UA</button>
    </div>
  </div>
  <div class="footer__socials">
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-square-facebook"></i>
    <i class="fa-brands fa-telegram"></i>
    <i class="fa-brands fa-square-twitter"></i>
  </div>
</footer>
