@use "./../../styles/mixins" as *;

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);

  &__nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: var(--white);
    padding: 20px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }
  &__nav.open {
    transform: translateX(0);
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    order: 2;
    padding-top: 30px;
  }

  &__menu-element {
    cursor: pointer;
  }

  &__logo-search,
  &__nav {
    max-width: 1500px;
    width: 100%;
  }
  &__user-cart {
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    padding-top: 50px;
    order: 1;
  }
  &__cart {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  &__settings {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &__lang-block,
  &__balance {
    border-right: 1px solid lightgrey;
    padding: 5px 0 5px 0;
    padding-right: 10px;
  }

  &__lang,
  &__currency {
    border: none;
    padding-right: 5px;
  }
  &__lang:focus,
  &__currency:focus {
    outline: none;
  }

  &__logo-search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 50px 15px 50px;
    z-index: 2;
  }

  &__logo-container img {
    height: 100px;
  }

  &__search-input {
    display: none;
  }

  hr {
    width: 100%;
    border: 1px solid var(--border-color);
  }

  &__toolbar {
    position: absolute;
    background-color: var(--white);
    top: 10px;
  }
  &__burger-btn {
    z-index: 200;
  }
}

@include tablet {
  .header {
    &__nav {
      display: flex;
      position: static;
      height: auto;
      transform: none;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      gap: 20px;
      padding: 30px 50px 30px 50px;
      flex-wrap: wrap;
      box-shadow: none;
    }

    &__menu {
      display: flex;
      flex-direction: row;
      gap: 25px;
      font-size: 14px;
      color: var(--font-grey);
      order: 1;
      padding: 0;
    }
    &__menu li {
      position: relative;
    }
    &__menu li::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -5px;
      width: 0%;
      height: 3px;
      background-color: var(--icon-theme);
      transition: width 0.3s ease-in-out;
      transform: translateX(-50%);
    }

    &__menu li:hover::after {
      width: 100%;
    }

    &__user-cart {
      order: 1;
      flex-basis: 100%;
      padding: 0;
    }
    &__burger-btn {
      display: none;
    }
    &__search-input {
      display: block;
    }
    &__logo-search {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__toolbar {
      display: none;
    }
  }
}
@include desktop {
  .header {
    &__nav {
      display: flex;
      position: static;
      height: auto;
      transform: none;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      gap: 20px;
      padding: 30px 50px 30px 50px;
      flex-wrap: wrap;
      box-shadow: none;
    }
    &__menu {
      display: flex;
      flex-direction: row;
      gap: 25px;
      font-size: 14px;
      color: var(--font-grey);
      order: 1;
      padding: 0;
    }
    &__menu li {
      position: relative;
    }
    &__menu li::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -5px;
      width: 0%;
      height: 3px;
      background-color: var(--icon-theme);
      transition: width 0.3s ease-in-out;
      transform: translateX(-50%);
    }

    &__menu li:hover::after {
      width: 100%;
    }

    &__user-cart {
      order: 2;
      flex-basis: auto;
      padding: 0;
    }
    &__burger-btn {
      display: none;
    }
    &__search-input {
      display: block;
    }
    &__logo-search {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__toolbar {
      display: none;
    }
  }
}
