<main class="main">
  <div class="main__wrapper">
    <section class="main__filter">
      <button
        mat-button
        class="main__filter-btn"
        *ngFor="let genre of genres"
        (click)="filterBooksByGenre(genre)"
        [ngClass]="{ active: genre === selectedGenre }"
      >
        {{ genre }}
      </button>
      <button
        mat-button
        class="main__filter-btn"
        (click)="filterBooksByGenre('Sale')"
      >
        Sale
      </button>
    </section>
    <section class="main__goods">
      <h1>Featured Product</h1>
      <hr />
      <div class="main__goods-main">
        <div *ngFor="let book of displayedBooks" class="main__goods-block">
          <div class="main__info-container">
            <div class="main__img-container">
              <img [src]="book.imageLink" [alt]="book.author" />
            </div>
            <p class="author">{{ book.author }}</p>
            <p class="title">{{ book.title }}</p>
          </div>
          <div class="main__goods-btn">
            <button class="main__price-btn">${{ book.price }}</button>
            <button class="main__cart-btn">
              <i class="fa-solid fa-cart-shopping"></i>
            </button>
          </div>
        </div>
      </div>
    </section>
    <div class="main__show-more">
      <button
        *ngIf="booksToShow > 0"
        (click)="showMore()"
        mat-button
        class="main__show-btn"
      >
        Show more
      </button>
    </div>
  </div>

  <section class="main__additional-info">
    <div class="main__title-header">
      <div>
        <span class="main__title">INFORMATION</span>
        <span class="main__title">CUSTOM SERVICE</span>
        <span class="main__title">EXTRAS</span>
        <span class="main__title">MY ACCOUNT</span>
      </div>
    </div>
    <div class="main__title-info">
      <div>
        <div class="main__title-block">
          <div class="title-info">ABOUT</div>
          <div class="title-info">DELIVERY</div>
          <div class="title-info">PRIVACY POLICY</div>
          <div class="title-info">TERMS & CONDITIONS</div>
        </div>
        <div class="main__title-block">
          <div class="title-info">CONTACT US</div>
          <div class="title-info">RETURNS</div>
          <div class="title-info">SITE MAP</div>
        </div>
        <div class="main__title-block">
          <div class="title-info">BRANDS</div>
          <div class="title-info">GIFT VOUCHERS</div>
          <div class="title-info">AFFILIATES</div>
          <div class="title-info">SPECIALS</div>
        </div>
        <div class="main__title-block">
          <div class="title-info">MY ACCOUNT</div>
          <div class="title-info">ORDER HISTORY</div>
          <div class="title-info">WISH LIST</div>
          <div class="title-info">NEWSLETTER</div>
        </div>
      </div>
    </div>
  </section>
</main>
