@use "./../../styles/mixins" as *;

.main {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  width: 100%;

  &__filter {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 30px 30px 70px 30px;
    flex-wrap: wrap;
  }
  &__filter-btn {
    padding: 30px 40px 30px 40px;
    border-radius: 0%;
    border: 1px solid lightgray;
    background-color: var(--white);
    color: var(--icon-theme) !important;
  }

  &__filter-btn:hover {
    background-color: var(--hoovered-btn);
    color: var(--white) !important;
  }
  &__filter-btn:last-child {
    background-color: var(--red-30);
    color: var(--white) !important;
  }
  &__goods h1 {
    color: var(--icon-theme);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  &__goods hr {
    border: 1px solid lightgrey;
  }
  &__goods-block {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
  }
  &__goods-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 30px;
    gap: 30px;
  }
  .author {
    font-weight: 500;
    padding: 10px 0 10px 0;
    text-align: center;
    color: var(--icon-theme);
  }
  .title {
    color: grey;
    text-align: center;
    color: var(--icon-theme);
  }
  &__info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  &__img-container img {
    height: 230px;
  }
  &__goods-btn {
    display: flex;
    height: 50px;
  }
  &__price-btn,
  &__cart-btn {
    border-left: none;
    border-top: 1px solid #e3e3e3;
    border-bottom: none;
    color: var(--icon-theme);
  }
  &__price-btn {
    flex: 1;
    border-right: 1px solid #e3e3e3;
    font-weight: bold;
    font-size: 18px;
  }
  &__cart-btn {
    width: 50px;
    border-right: none;
  }

  &__price-btn,
  &__cart-btn {
    background-color: #f9f9f9;
  }
  &__goods-btn:hover &__cart-btn {
    background-color: var(--red-30);
    transition: 0.3s ease;
    color: var(--white);
    border: none;
  }
  &__goods-btn:hover &__price-btn {
    background-color: #868686;
    transition: 0.3s ease;
    color: var(--white);
    border: none;
  }
  &__show-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  &__show-btn {
    font-size: 20px;
    color: var(--icon-theme);
    margin-bottom: 50px;
  }
}
